
@{
    ViewBag.Title = "Stripe";
}

<h2>Stripe</h2>

<form action="your-server-side-code" method="POST">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_TYooMQauvdEDq54NiTphI7jx"
            data-amount="@ViewBag.Fee"
            data-name="Stripe.com"
            data-description="charge"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-zip-code="false">
    </script>
</form>
            