
@{
    ViewBag.Title = "Checkbox";
}

<h2>Checkbox</h2>

<!DOCTYPE html>
<html>
<body>

    <form action="">
        <input type="checkbox" name="List" value="0">Venue booked<br>
        <input type="checkbox" name="List" value="0">Caterere booked<br />
        <input type="checkbox" name="List" value="0">Security agency booked<br>
        <input type="checkbox" name="List" value="0">Sent Invitation<br />
        <input type="checkbox" name="List" value="0">Venue booked<br>
        <input type="checkbox" name="List" value="0">Chat with venue owner<br />
        <input name="submit" type="submit" value="Submit">
    </form>

</body>
</html>
@*<input type="text" placeholder="Type something here" />
<div id="checkbox-container">
    <div>
        <label for="option1">Option 1</label>
        <input type="checkbox" id="option1">
    </div>
    <div>
        <label for="option2">Option 2</label>
        <input type="checkbox" id="option2">
    </div>
    <div>
        <label for="option3">Option 3</label>
        <input type="checkbox" id="option3">
    </div>

    <button>Check All</button>
</div>*@