


@{
    Layout = null;
    var totalBill = ViewBag.TotalBill;
}
<style>
    body {
        background-position: center;
        height: 750px;
        background-image: url('../../Images/1.jpg');
        background-position: center;
        background-repeat: no-repeat, repeat;
        padding: 150px;
    }
</style>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Charge</title>
</head>
<body>
    <div>
        <h2>You successfully paid </h2>
    </div>
</body>
</html>